/* You can add global styles to this file, and also import other style files */
.navbar {
  background-color: #2196F3;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  font-size: 21px;
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:focus {
  color: #eee;
}