<div class="container">
  <h1>Transaktionen</h1>
  <table class="table table-striped">
    <thead>
      <th>Sender</th>
      <th>Empfänger</th>
      <th>Betrag</th>
      <th>Betreff</th>
      <th>Datum</th>
    </thead>
    <tr *ngFor="let transaction of transactions">
      <td>{{ transaction.sender.owner }}</td>
      <td>{{ transaction.receiver.owner }}</td>
      <td>{{ transaction.amount | currency:'EUR':true }}</td>
      <td>{{ transaction.reference }}</td>
      <td>{{ transaction.transactionDate | date:'dd.MM.y HH:mm:ss' }}</td>
    </tr>
  </table>
</div>
