<div class="container">
  <h1>Neue Transaktion als Bank</h1>
  <div class="errors">
      <div *ngFor="let flash of messages" class="alert" [class.alert-danger]="flash.type == 'error'" [class.alert-success]="flash.type == 'success'">
        {{ flash.message }}
      </div>
  </div>

  <form [formGroup]="createTransactionForm" (ngSubmit)="createTransaction()">
    <div class="form-group">
      <label for="receiverNumber">Empfänger</label>
      <input type="text" class="form-control" placeholder="Empfänger" formControlName="receiverNumber">
    </div>
    <div class="form-group">
      <label for="amount">Betrag</label>
      <input type="text" class="form-control" placeholder="Betrag" formControlName="amount">
    </div>
    <div class="form-group">
      <label for="reference">Betreff</label>
      <input type="text" class="form-control" placeholder="Betreff" formControlName="reference">
    </div>
    <input type="submit" class="btn btn-success" value="Überweisen">
  </form>

  <h1>Transaktionen</h1>
  <table class="table table-striped">
    <thead>
      <th>Sender</th>
      <th>Empfänger</th>
      <th>Betrag</th>
      <th>Betreff</th>
      <th>Datum</th>
    </thead>
    <tr *ngFor="let transaction of transactions">
      <td>{{ transaction.sender.owner }}</td>
      <td>{{ transaction.receiver.owner }}</td>
      <td>{{ transaction.amount | currency:'EUR':true }}</td>
      <td>{{ transaction.reference }}</td>
      <td>{{ transaction.transactionDate | date:'dd.MM.y HH:mm:ss' }}</td>
    </tr>
  </table>


</div>
