<div class="container">
  <h1>Konten</h1>

  <table class="table table-striped">
    <thead>
      <th>Kontonummer</th>
      <th>Name</th>
      <th>Aktion</th>
    </thead>
    <tr app-account-detail *ngFor="let account of accounts" [account]="account" (error)="flash($event)"></tr>
  </table>

  <div class="errors">
    <div *ngFor="let flash of messages" class="alert" [class.alert-danger]="flash.type == 'error'" [class.alert-success]="flash.type == 'success'">
      {{ flash.message }}
    </div>
  </div>

   <form [formGroup]="createAccountForm" (ngSubmit)="createAccount()">
    <div class="form-group">
      <label for="owner">Neuer Account</label>
      <input type="text" class="form-control" placeholder="Owner" formControlName="owner">
    </div>
    <input type="submit" class="btn btn-success" value="Erstellen">
  </form> 
</div>
